@{
    ViewData["Title"] = "Movies";
}
<partial name="_Notification" />
<div class="container">
    <div class="row pt-4 pb-5">
        <div class="col-6">
            <h2 class="text-success fw-bold">
                Movies
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Movie" asp-action="Create" class="btn btn-outline-success">
                <i class="bi bi-plus"></i> Add movie
            </a>
        </div>
    </div>
    <hr/>
    </div>
    <div class="text-center">
        <div class="row">
            <div class="table-responsive">
                <table id="movieTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>TITLE</th>
                            <th>GENRE</th>
                            <th>DIRECTOR</th>
                            <th>RELEASE DATE</th>
                            @*<th>RATING</th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var movie in ((List<Movie>)Model).OrderBy(m => m.genre))
                        {
                            <tr>
                                <td>
                                    <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.id" class="text-primary">
                                    @movie.title
                                    </a>
                               </td>
                                <td>@movie.genre</td>
                                <td>@movie.director</td>
                                <td>@movie.dateOfRelease</td>
                                @*<td>RATING GOES HERE</td>*@
                                <td>
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.id" class="btn btn-dark mx-2">
                                            <i class="bi bi-pencil-fill"></i> Edit
                                        </a>
                                    <a asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.id" class="btn btn-outline-danger mx-2">
                                            <i class="bi bi-trash-fill"></i> Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>